@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:#ae966b">
    <img width="700" src="~/Content/Pictures/logga1.3.png" />
    
    <p class="lead">HitIt is a social network for musicians making it easier to collaborate with other people.</p>
    <p><a href="Home/About" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Start by making a free account and setting up your profile.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Placeholder</h2>
        <p>Lorem ipsum</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Don't click! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Placeholder</h2>
        <p>Lorem ipsum</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>