@{
    ViewBag.Title = "About us";
}
<div class="jumbotron" style="background-color:#ae966b">
    <h2 style="text-align:center">@ViewBag.Title</h2>
   
    <div class="jumbotron" style="background-color:#ae966b">
        <h3 style="color:#000000">What is HitIt?</h3>
        <p style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size:medium">
            HitIt is a collaboration network for musicians, songwriters and anyone in between.
            The purpose is to provide an easy and creative method of finding a partner or two to hit it with, 
            because music is more engaging and fun in a group.
            Whether you want to find someone to jam with locally, or find a talented musicaian world wide, the possibilities are endless! <br />
        </p>
        <h3>Story</h3>
        <p  style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size:medium">
            I got the idea when I participated on the recording of an album that was produced in Switzerland.
            At the time I was living in Brazil and send all my cello recordings to Switzerland.
            The result turned out really well and we had a really good concert in Copenhagen a couple of months later.
            When we came together before that concert I had never met some of the musicians before!
            The idea was to make this possible for everyone.<br />
            One year ago I started an education at Malmö University and one of the courses was software engineering.
            Since I had this idea from before it was obvious what kind of project I wanted to work with and
            it wasn't hard to convince my team to make this a reality. 
        </p>
        <h3>The team</h3>
        <p style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size:medium">
            We Kalle Hovstadius, Mohanned Jaballah, Shevin Mansouri and Maximilian Törn Almö are currently studying software engineering at Malmö Univerity. Our task is to make a project during the second half of our semester. This led 
            to the development of this website.  
           
           
        </p>
    </div>
    </div>