@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Collaborations";
}
<div class="jumbotron" style="background-color:#ae966b">
    <h2 style="text-align:left">@ViewBag.Title</h2>
   
    <div class="jumbotron" style="background-color:#CEBB8E">
        <h3>@Html.ActionLink("Collaborations","Index", "Collaborations") </h3>
        <p style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size:medium">
            
        </p>
    </div>
    </div>